# Ignore node_modules and log files
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env
.env.* 

# Ignore system/editor files
.DS_Store
.vscode
.idea

# Build output (we recreate it in Docker anyway)
build
dist

# Don’t exclude .conf anymore (so we're safe if you add one later)
