# Ignore node_modules
node_modules

# Ignore logs
*.log
npm-debug.log*

# Ignore local config and env
.env
.env.* 

# Ignore Git files
.git
.gitignore

# Editor/OS junk
.DS_Store
.vscode
.idea

# Build output (if present)
build
dist
